.test_result_icon,.test_replay {
  font-size: 32px;
  cursor: pointer;
}
.test_history_row{
  cursor: pointer;
}
.test_result_icon_null{
  font-size: 32px;
  color: #D8D8D8 !important;
}

.test_replay:hover{
  color:#FE9A2E;
  font-size: 38px;
}
.template_stying{
  margin-top: 50px;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(237, 237, 237, 1);/*#cccccc !important;*/
}
